.image {
	flex: 1;
	width: 100%;
	object-fit: cover;
	display: block;
}

.imageContainer {
	display: flex;
	position: relative; /* anchor for the overlay */
}

.imageText {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	width: 20%;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%); /* center in image */
	background-color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
}
